<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Similar Products</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Similar Products</a>
      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="/userlogin">Login</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
          <li><a href="/register">Sign Up</a></li>
      </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/userlogin">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
      </ul> -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text">Similar Products</h1>
      <!-- <div class="row center">
        <h5 class="header col s12 light">A book management system made for Dad!</h5>
      </div>
      <div class="row center">
          <a href="/register" id="download-button" class="btn-large waves-effect waves-light blue-grey darken-3">Get
              Started</a>
      </div> -->

      <br><br>
      <div class="row">
      {% for product in product_data %}
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img src="{{product['id']}}">
              <span class="card-title">{{product['title']}}</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a href="{{product['url']}}">View {{product['ecomm_id']}}</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

<!-- <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About</h5>
            <p class="grey-text text-lighten-4">A Document Management System designed to sort the documents on the basis
                of key characteristics of books.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="blue-grey-text text-lighten-3" href="http://achandratre.me">Aniruddh Chandratre</a>
      </div>
    </div>
  </footer> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
